@media(max-width: 500px) {
    .pokemon-cards {
        width: 62%;
    }

    .img-parent {
        width: 100%;
    }

    .pokemon-cards img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media(max-width: 760px) {
    .overlay-name {
        font-size: 22px;
    }

    .overlay-id {
        font-size: 22px;
    }

    .x {
        width: 20px;
        height: 20px;
    }

    .overlay-img {
        width: 180px;
    }

    .move {
        font-size: 14px;

    }

    .height {
        font-size: 14px;
    }

    .abilitty {

        font-size: 14px;
    }

    .habitat {

        font-size: 14px;
    }

    .weight {

        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }

    .weakness-parent span {
        font-size: 20px;
    }

    .weakness-parent {
        font-size: 15px;
    }

    .description-div {
        padding: 0px;
    }

    .one-pokemon {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }

    .weakness-parent {
        height: 70%;
        padding-top: 42px;
    }
}

@media(max-width: 600px) {
    .overlay-content {
        flex-direction: column;
        height: fit-content;
        gap: 14px;
    }

    .overlay-content-parent {
        height: 60%;
    }

    hr {
        width: 90%;
        height: 0.5px;
    }


    .x {
        top: 5px;
    }

    .description-div {
        background-color: unset;
    }

    .move-data,
    .habitat-data,
    .ability-data,
    .weight-data,
    .height-data {
        color: white;
        font-size: 14px;
    }

    .height {
        align-items: unset;
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        width: fit-content;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .move {
        align-items: unset;
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        width: fit-content;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .habitat {
        align-items: unset;
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        width: fit-content;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .abilities {
        align-items: unset;
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        width: fit-content;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
        font-size: 14px;
    }

    .weight {
        align-items: unset;
        justify-content: space-between;
        display: flex;
        flex-direction: unset;
        width: fit-content;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .pokemon-data {
        align-items: center;
        flex-direction: column;
        width: 100% !important;
        padding-left: 80px;
        box-sizing: border-box;
        padding-right: 80px;
    }

    .chart-weakness {
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
    }

    .weakness-parent {
        width: 100%;
        padding-top: 6px;
        gap: 15px;
        height: fit-content;
    }

    .weakness-div {
        flex-wrap: wrap-reverse;
    }

    .canvas-div {
        width: 100%;
    }

    .overlay-bg {
        overflow-y: auto;
        gap: 20px;
        height: 100vh;
    }

    .overlay-img {
        width: 160px;
        height: 160px;
    }

    .my-weakness {
        width: 28%;
    }

    .description {
        font-size: 16px;
        width: 90%;
    }

    .overlay-title {
        padding-top: 0px;
        box-sizing: border-box;
    }

    .one-pokemon {
        background-position: 854px -319px;
    }

    nav {
        flex-direction: column;
        height: fit-content;
        gap: 10px;
    }

    .content {
        margin-top: 90px;
    }

    input {
        width: unset;
        height: 30px;
        width: 40%;
        background-color: unset;
        border: 1px solid rgb(255 255 255 / 80%);
        margin-bottom: 10px;
    }
}

@media(max-width: 470px) {
    hr {
        width: 90%;
    }
}